.notice-box {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%) !important;
    color: #fff;
}
.notice-box1 {
    background: #1ABC9C !important;
    color: #fff;
	border-left-color: #1ABC9C;
}
.notice-box p, .notice-box1 p {
	line-height: 2.1;
	padding: 19px;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.notice.error {
    border-left-color: #4fb9f0;
}
.error a {
    text-decoration: none;
}
.notice-box, .notice-box1 {
    box-shadow: 2px 4px 4px #888888 !important;
}
a.rateme {
    background: #555d668c;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
a.dismiss {
	background: #555d668c;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    padding: 5px;
}